html{
    background-color: #2D3250;
}   
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2D3250;
   
}
.img{
    width: 330px;
    height: 548.5px;
}
.field{
    background-color: #424769;
    color: white;
    padding: 25px;
    
   
}
.field h2 {
    text-align: center;
    margin-bottom: 50px;
}

h1{
    color: white;
    text-align: center;
    padding-top: 90px;
}
h2{
    color: white;
}
.form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #2D3250 ;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    margin-top: 40px;
    box-shadow: 11px 10px 15px -8px #d7d7d7;;
}
.input_form{
    width: 280px;
    height: 35px;
    border-radius: 3px;
}

.transparent-input {
    background-color: transparent !important;
    border: none;
    border: 1px solid #5d5d5d; /* Add a bottom border for better visibility */
    border-radius: 2;
}
.transparent-input:focus {
    border: 1px solid #F9B17A; /* Change the border color to yellow when input is focused */
    box-shadow: none;
}

.rg_btn{
    width: 280px;
    background-color: #F9B17A;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.rg_btn:hover{
    box-shadow: 2px 2px 2px #ffe7d4;
}

@media screen and (max-width: 768px) {
    /* Adjust form width */
    .form {
        flex-direction: column-reverse;
        width: 100%;
    }

    /* Adjust input width */
    .input_form {
        width: calc(100% - 20px);
    }
    .rg_btn{
        width: 300px;
    }
}