.gallery-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1d1022;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #BC7FCD;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Centers the image within the container */
  border-radius: 8px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.error-message {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border-radius: 8px;
}

.back-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #BC7FCD;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



/* Media Queries for responsiveness */

@media (max-width: 768px) {
  .image-container {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .image-container {
    flex-basis: calc(100% - 20px);
  }
}
